
nav ul a {
  /*color: #444;*/
  font-size: 1.5em;
  margin-right: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px #444;
}

.side-nav a {
  text-shadow: none;
}

nav {
  box-shadow: none;
  cursor: pointer;

}

nav a.button-collapse {
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

nav a.button-collapse:hover{
  background: rgba(0, 0, 0, 0.5);
}

nav:after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: 4em;
  text-shadow: 1px 1px 1px #444;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

nav:hover:after {
  opacity: 0;
}

.fade-nav:after {
  opacity: 0;
}

p {
  line-height: 2rem;
  font-size: 1.1em;
}

.button-collapse {
  color: #26a69a;
}

div#index-banner {
  top: -64px;
}

#index-banner .section {
    top: 10%;
}

.parallax-container {
  /*min-height: 90vh;*/
  /*line-height: 0;*/
  height: 100vh;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

h1, h3, h5, h6, .card-title  {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h4 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 1px #444;
}

.title-subheading{
  color: rgba(255,255,255, 1);
}

.top-offset{
  margin-top: -64px;
}

.shader {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );
  height: 100%;
  width: 100%;
}

/*Timeline CSS*/
#job-1, #job-2, #job-3, #job-4 {
  opacity: 0;
}

.timeline img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid #ddd;
}

.timeline {
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 48.5%;
  height: 250%;
  width: 5px;
  background: #ddd;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.timeline:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 48.5%;
  height: 250%;
  width: 5px;
  background: #ddd;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.timeline-start:after {
  content: none;
}

.timeline-end:before {
  content: none;
}

.school img {
  width: 100px;
}

.school-round img {
  background: rgba(255,255,255, 0.5);
  border-radius: 50%;
  width: 100px;
}

.school-section {
  margin-bottom: 15px;
}

.school-section h5, .school-section h6 {
  text-shadow: 1px 1px 1px #444;
}

.educ {
  top: 0 !important;
}

.project-shader {
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.project-shader:hover {
  background: rgba(0,0,0,0.7);
}

.learn-more{
  position: absolute;
  text-align:center;
  top: 35%;
  left: 0;
  right: 0;
  display: none;
  color: white;
}

@media only screen and (max-width : 992px) {

  nav ul a {
    margin-right: 0px;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .school-round img, .school img {
    width: 70px;
  }
}

@media only screen and (min-width : 992px) {

  div.nav-wrapper{
    height: 128px;
    top: -64px;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }

  div.nav-wrapper:hover {
    top: 0px;
  }

  .educ-heading{
    margin-top: -15%;
  }

}

@media only screen and (max-width : 600px) {

  .timeline img {
    width: 50px;
    border: none;
  }

  .timeline:after, .timeline:before {
    content: none;
  }

  .school-round img, .school img {
    width: 50px;
  } 

  .school-section h5 {
    font-size: 1.7em;
  }

  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


footer.page-footer {
  margin: 0;

}

@media only screen and (max-width : 400px) {
  .timeline {
    display:none;
  }

}

