html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

body {
    margin: 0;
    background: $gunmetal;
    color: $text;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: $body-font;
    text-transform: none;
    line-height: 1;
}