html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: $gunmetal;
    color: $text;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: $body-font;
    text-transform: none;
    line-height: 1;
    height: 100%;
    overflow-x: hidden;
}

// 992px above
@media (min-width: $bp-l) {
    body {
        font-size: 18px;
    }
}

// 1200px above
// @media (min-width: $bp-xl) {

// }

// 778px to 991px
// @media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {

// }

// 576px to 777px
// @media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
    
// }

// 991px under
@media (max-width: $bp-l - 1) {
    body {
        font-size: 16px;
    }
}

// 777px under
// @media (max-width: $bp-m - 1) {

// }

// 576px under
// @media (max-width: $bp-s - 1) {

// }