.nav {
    left: 0;
    top: 0;
    background-color: $outer-space;
    display: flex;
    height: 60px;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, $spring-bud 0%, $monte-carlo 25%, $lavender 50%, $sunglo 100%);
    border-image-slice: 1;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin: 0 0.5em;
}

.nav__listItem {
    margin-bottom: 0;

    &:hover {
        .nav__link {
            color: $spring-bud;
        }
    }

    &.--active {
        .nav__link {
            color: $lavender;
        }
    }

    &:hover,
    &.--active {
        .nav__linkTitle {
            max-height: 0.8rem;
            opacity: 1;
            transition: max-height 0.1s linear, opacity 0.1s 0.1s linear;
            margin-top: 5px;
        }
    }
}

.nav__linkTitle {
    font-size: 0.8rem;
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    height: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: margin 0.1s linear, opacity 0.1s linear, max-height 0.1s 0.1s linear;
}

.nav__link {
    text-align: center;
    color: $iron;
    text-decoration: none;
    transition: color 0.2s linear;

    [class^="icon-"] {
        display: block;
    }
}

.nav__mobileToggle {
    display: none;
}

// Component Example 

// 992px above
@media (min-width: $bp-m) {
    .nav {
        position: fixed;
        height: 100vh;
        width: 60px;
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        flex-direction: column;
        margin: 0.5em;
    }

    .nav__listItem {
        margin: 0.5em 0;
    }
}

// 1200px above
// @media (min-width: $bp-xl) {

// }

// 778px to 991px
// @media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {

// }

// 576px to 777px
// @media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
 
// }

// 777px under
@media (max-width: ($bp-m - 1)) {
    .nav {
        border-right: 0;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, $spring-bud 0%, $monte-carlo 25%, $lavender 50%, $sunglo 100%);
        border-image-slice: 1;
        position: relative;

        &.--open {
            .nav__list {
                left: 0;
            }

            .nav__mobileToggle {                
                .nav__mobileToggleIcon {
                    background-color: transparent;

                    &:before {
                        transform-origin: center;
                        transform: rotate(-45deg) translate(-50%);
                        left: 10px;
                    }
                    &:after {
                        transform-origin: center;
                        transform: rotate(45deg) translate(-50%);
                        top: 9px;
                        left: 10px;
                    }
                }
                
            } 
        }
    }

    .nav__list {
        position: absolute;
        height: 60px;
        top: 60px;
        left: 100%;
        width: 100%;
        background-color: $outer-space;
        margin: 0;
        z-index: 1;
        justify-content: space-around;
        transition: left 0.15s ease-in;

        &.-social {
            display: none;
        }
    }

    .nav__mobileToggle {
        width: 50px;
        position: relative;
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }   

    .nav__mobileToggleIcon {
        width: 27px;
        height: 2px;
        background-color: $iron;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 27px;
            height: 2px;
            background-color: $iron;
            transition: all 0.2s linear;
        }

        &:after {
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            width: 27px;
            height: 2px;
            background-color: $iron;
            transition: all 0.2s linear;
        }
        
    }
}

// 576px under
// @media (max-width: ($bp-s -1)) {

// }